## Домашнее задание. День 4

#### Задача 1. Работа с DataFrame в библиотеке pandas

1) Создайте DataFrame размерностью 5х5 с данными о нескольких студентах и их оценках по разным предметам. Включите следующие столбцы: `'Имя', 'Возраст', 'Математика', 'Литература', 'Физика'` и выведите исходный DataFrame на экран;

2) Изучите ваш DataFrame: рассмотрите размерность, имеющиеся колонки, тип данных, базовую информацию;

3) Используя метод `loc`, выберите данные по одному из студентов, с последующим выводом на экран; 

4) Используя метод `iloc`, выберите данные по первому студенту, с последующим выводом на экран. Затем найдите его оценку по физике;

5) Добавьте две колонки: `Пол` и `Город`; 

6) С помощью метода `loc` измените оценку по математике для одного студента;

7) Добавьте новую строку в ваш DataFrame;

8) Выведите итоговый результат.

In [3]:
import pandas as pd

data = {
    'Имя': ['Алексей', 'Мария', 'Иван', 'Анна', 'Петр'],
    'Возраст': [20, 19, 21, 20, 22],
    'Математика': [90, 75, 88, 92, 85],
    'Литература': [80, 85, 78, 88, 90],
    'Физика': [85, 80, 82, 90, 88]
}
df = pd.DataFrame(data)
print("Исходный DataFrame:")
print(df)

print("\nРазмерность DataFrame:", df.shape)
print("Колонки:", df.columns)
print("Типы данных:\n", df.dtypes)
print("\nИнформация о DataFrame:")
print(df.info())

print("\nДанные по студенту 'Мария':")
print(df.loc[df['Имя'] == 'Мария'])

print("\nДанные по первому студенту:")
print(df.iloc[0])
print("\nОценка по физике у первого студента:", df.iloc[0]['Физика'])

df['Пол'] = ['М', 'Ж', 'М', 'Ж', 'М']
df['Город'] = ['Москва', 'Санкт-Петербург', 'Казань', 'Новосибирск', 'Екатеринбург']
print("\nDataFrame с новыми колонками Пол и Город:")
print(df)

df.loc[df['Имя'] == 'Иван', 'Математика'] = 95
print("\nDataFrame после изменения оценки по математике для студента Иван:")
print(df)

new_student = pd.DataFrame([{
    'Имя': 'Ольга',
    'Возраст': 23,
    'Математика': 89,
    'Литература': 91,
    'Физика': 87,
    'Пол': 'Ж',
    'Город': 'Самара'
}])

df = pd.concat([df, new_student], ignore_index=True)

print("\nИтоговый DataFrame:")
print(df)

Исходный DataFrame:
       Имя  Возраст  Математика  Литература  Физика
0  Алексей       20          90          80      85
1    Мария       19          75          85      80
2     Иван       21          88          78      82
3     Анна       20          92          88      90
4     Петр       22          85          90      88

Размерность DataFrame: (5, 5)
Колонки: Index(['Имя', 'Возраст', 'Математика', 'Литература', 'Физика'], dtype='object')
Типы данных:
 Имя           object
Возраст        int64
Математика     int64
Литература     int64
Физика         int64
dtype: object

Информация о DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Имя         5 non-null      object
 1   Возраст     5 non-null      int64
 2   Математика  5 non-null      int64
 3   Литература  5 non-null      int64
 4   Физика      5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 328.0+ bytes
None

Данные по студенту 'Мария':
     Имя  Возраст  Математика  Литература  Физика
1  Мария       19          75          85      80

Данные по первому студенту:
Имя           Алексей
Возраст            20
Математика         90
Литература         80
Физика             85
Name: 0, dtype: object

Оценка по физике у первого студента: 85

DataFrame с новыми колонками Пол и Город:
       Имя  Возраст  Математика  Литература  Физика Пол            Город
0  Алексей       20          90          80      85   М           Москва
1    Мария       19          75          85      80   Ж  Санкт-Петербург
2     Иван       21          88          78      82   М           Казань
3     Анна       20          92          88      90   Ж      Новосибирск
4     Петр       22          85          90      88   М     Екатеринбург

DataFrame после изменения оценки по математике для студента Иван:
       Имя  Возраст  Математика  Литература  Физика Пол            Город
0  Алексей       20          90          80      85   М           Москва
1    Мария       19          75          85      80   Ж  Санкт-Петербург
2     Иван       21          95          78      82   М           Казань
3     Анна       20          92          88      90   Ж      Новосибирск
4     Петр       22          85          90      88   М     Екатеринбург

Итоговый DataFrame:
       Имя  Возраст  Математика  Литература  Физика Пол            Город
0  Алексей       20          90          80      85   М           Москва
1    Мария       19          75          85      80   Ж  Санкт-Петербург
2     Иван       21          95          78      82   М           Казань
3     Анна       20          92          88      90   Ж      Новосибирск
4     Петр       22          85          90      88   М     Екатеринбург
5    Ольга       23          89          91      87   Ж           Самара

Все операции выполнены успешно! Данные обновлены и новый студент добавлен в DataFrame.

<div class="alert alert-success">
<h2> Комментарий ревьюера <a class="tocSkip"> </h2>

<b>На доработку</b> ДЗ рекомендуется отправлять в том случае, если ваш код рабочий. По хорошему, я могу не проверять код полностью, тем не менее, скажу что все верно, но у `pd.Series` и `pd.DataFrame` не используется `append()` метод
</div>

#### Задача 2. Обработка доходов сотрудников

1) Создайте один DataFrame с доходами сотрудников за 3 месяца:

    - Сотрудник 1: 5000, 5500, 6000
    - Сотрудник 2: 6000, 6500, 7000
    - Сотрудник 3: 4500, 4800, 5100
    - Сотрудник 4: 7000, 7500, 8000
    - Сотрудник 5: 5500, 5800, 6100

2) Преобразуйте Series в DataFrame, где столбцы будут представлять месяцы (Январь, Февраль, Март);

3) Создайте новый столбец `Сумма` и `Средняя`, который будет содержать сумму доходов сотрудника за 3 месяца;

4) Выведите информацию о сотруднике с наибольшей суммой дохода за 3 месяца.

In [2]:
# Решение
import pandas as pd

data = {
    'Сотрудник': ['Сотрудник 1', 'Сотрудник 2', 'Сотрудник 3', 'Сотрудник 4', 'Сотрудник 5'],
    'Январь': [5000, 6000, 4500, 7000, 5500],
    'Февраль': [5500, 6500, 4800, 7500, 5800],
    'Март': [6000, 7000, 5100, 8000, 6100]
}
df_income = pd.DataFrame(data)
df_income['Сумма'] = df_income[['Январь', 'Февраль', 'Март']].sum(axis=1)
df_income['Средняя'] = df_income[['Январь', 'Февраль', 'Март']].mean(axis=1)

highest_income_employee = df_income.loc[df_income['Сумма'].idxmax()]
print("\nСотрудник с наибольшей суммой дохода за 3 месяца:")
print(highest_income_employee)

Сотрудник с наибольшей суммой дохода за 3 месяца:
Сотрудник    Сотрудник 4
Январь              7000
Февраль             7500
Март                8000
Сумма              22500
Средняя           7500.0
Name: 3, dtype: object

<div class="alert alert-success">
<h2> Комментарий ревьюера <a class="tocSkip"> </h2>

<b>Все отлично!👍</b> Стоит разграничивать импорт библиотек и основную логику выполнения кода. Вы уже импортировали ее в задаче выше, следовательно тут импорт больше не нужен.
</div>

#### Задача 3. Создание проверок для выявления нехарактерных кейсов.

1) Создать `DataFrame` 10x10 c ФИО учеников и их оценок по диспицлинам. В данном `DataFrame` должны присутствовать дубликаты и нулевые значения `(np.nan)`. 

2) Выведите краткую информацию DataFrame: кол-во строк и колонок, название колонок, краткая сводка по таблице + типы данных;

3)  Выведите кросс-чек (проверку), которая позволит вам определить:
    - Дубликаты (вывод ошибки и самих дублирующихся строк);
    - Нулевые значение (вывод ошибки и самих нулевых строк);
    - Проверку на пустоту вашего `DataFrame` (ошибка).

In [3]:
# Решение
import pandas as pd
import numpy as np

data = {
    'ФИО': ['Иванов Иван', 'Петров Петр', 'Сидоров Сидор', 'Иванов Иван', 
            'Петров Петр', 'Сидоров Сидор', 'Кузнецов Кузьма', 'Петров Петр', 
            'Сидоров Сидор', 'Иванов Иван'],
    'Математика': [5, 4, 3, 5, np.nan, 4, 3, 5, np.nan, 2],
    'Физика': [4, 5, np.nan, 4, 3, 5, 4, np.nan, 2, 5],
    'Химия': [3, 3, 4, 2, 5, np.nan, 4, 5, 4, 3],
    'Литература': [4, 5, 4, 3, np.nan, 2, 4, 3, 5, 5],
    'История': [5, np.nan, 4, 4, 5, 3, 4, 5, 5, 3],
    'География': [np.nan, 4, 3, 5, 4, 2, 5, 5, 4, 4],
    'Иностранный язык': [5, 3, 4, 5, 5, np.nan, 3, 4, 5, 4],
    'Физическая культура': [4, 5, np.nan, 3, 2, 4, 3, 5, 4, 5],
    'Музыка': [3, 4, 5, 5, 4, 5, 3, 2, 5, 3]
}

df_students = pd.DataFrame(data)

print("Краткая информация о DataFrame:")
print(df_students.info())

duplicates = df_students[df_students.duplicated(keep=False)]
if not duplicates.empty:
    print("\nОшибка: Найдены дубликаты:")
    print(duplicates)
else:
    print("\nДубликатов не найдено.")

null_values = df_students[df_students.isnull().any(axis=1)]
if not null_values.empty:
    print("\nОшибка: Найдены строки с нулевыми значениями:")
    print(null_values)
else:
    print("\nНулевых значений не найдено.")

if df_students.empty:
    print("\nОшибка: DataFrame пуст.")
else:
    print("\nDataFrame не пуст.")

Краткая информация о DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ФИО                  10 non-null     object
 1   Математика           8 non-null      float64
 2   Физика               8 non-null      float64
 3   Химия                9 non-null      float64
 4   Литература           9 non-null      float64
 5   История              9 non-null      float64
 6   География            9 non-null      float64
 7   Иностранный язык     9 non-null      float64
 8   Физическая культура  9 non-null      float64
 9   Музыка               10 non-null     int64
dtypes: float64(8), int64(1), object(1)
memory usage: 932.0+ bytes
None

Дубликатов не найдено.

Ошибка: Найдены строки с нулевыми значениями:
             ФИО  Математика  Физика  Химия  Литература  История  География  \
0    Иванов Иван         5.0     4.0    3.0         4.0      5.0        NaN
1    Петров Петр         4.0     5.0    3.0         5.0      NaN        4.0
2  Сидоров Сидор         3.0     NaN    4.0         4.0      4.0        3.0
4    Петров Петр         NaN     3.0    5.0         NaN      5.0        4.0
5  Сидоров Сидор         4.0     5.0    NaN         2.0      3.0        2.0
7    Петров Петр         5.0     NaN    5.0         3.0      5.0        5.0
8  Сидоров Сидор         NaN     2.0    4.0         5.0      5.0        4.0

   Иностранный язык  Физическая культура  Музыка
0               5.0                  4.0       3
1               3.0                  5.0       4
2               4.0                  NaN       5
4               5.0                  2.0       4
5               NaN                  4.0       5
7               4.0                  5.0       2
8               5.0                  4.0       5

DataFrame не пуст.

<div class="alert alert-success">
<h2> Комментарий ревьюера <a class="tocSkip"> </h2>

<b>Все отлично!👍</b> Задача выполнена, но не до конца, требуется кросс-чеки формировать с возникновением ошибки, используя `raise`
</div>